@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Zilla+Slab:400,600,700);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
    --blue: #1b3783;
    --lightgray: lightgray;
    --gray: #ccced0;
    --bluish-gray: #eaedef;
    --darkgray: rgba(21, 35, 45, 0.8);
    --sans-serif: 'Montserrat', sans-serif;
    --light-blue: rgba(68,0,153,.1);
    --highlight: #ffb900;
}

.megamap-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 10px 6px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
